In [431]:
import otter
grader = otter.Notebook()

# Instructions


###  General Instructions

* **How to install 'otter'**: Run `pip install otter-grader` in your Anaconda Command Prompt
* **Otter**: It is an autograder that we will be using for grading your notebooks.
* **grader.check('qn')**: This command runs test cases for nth question `qn` provided to you and displays the result. But these are not the only test cases, these are provided just for your basic testing. There will be some *hidden test cases* on which your answers will be tested as well.
* You are **not** allowed to edit any pre-defined variables and as per the instructions for every question you have to assign your answers to these variables.
* Write your answers in place of `...` where prompted
* **How to run this on google colab**: Uncomment the below code and replace wherever necessary to run this assignment on google colab (only if you want to - jupyter notebooks work just fine).

###  Assignment 2 part 1 specific instructions

* Make sure that your code is properly commented. If your code is not properly commented, it may lead to loss in marks.
* Please follow the instructions written at each part very carefully.
* There are hidden test cases for each part so please don't hard code anything.

In [432]:
import pandas as pd

## Reading Data

In [433]:
fake_jobs = pd.read_csv('fake_job_postings.csv')
fake_jobs

,Unnamed: 0,job_id,title,location,department!!!,salary_range,coMpany_profile,descriPtion,requIrements,benefits,telecommutingg,hAs_company_logo,has_questions,employment_type,required_experience,required_educatioN,industry,function,fraudul....ent
0,0,1,Marketing Intern,"US, NY, New York",Marketing!!,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success!!,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,3,4,Account Executive - Washington DC,"US, DC, Washington",Sales!!,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,17875,17876,Account Director - Distribution,"CA, ON, Toronto",Sales!!,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17876,17876,17877,Payroll Accountant,"US, PA, Philadelphia",Accounting!!,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17877,17877,17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17878,17878,17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17879,17879,17880,Web Application Developers,"NZ, N, Wellington",Engineering!!,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

## **Data Cleaning**

### **Cleaning Part 1: Examining the Data**

<!-- BEGIN QUESTION -->

**Question 1:** What is the granularity of the data (i.e. what does each row represent)?

*Answering Guidelines:* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.

<!--
BEGIN QUESTION
name: q1
points: 3
manual: true
-->

Each row represents a job and its requirements are mentioned in separate columns. There are a total of almost 17000 rows. each row represents job_id, title of the job, its location, department of the job offered, salary range. Also major requirements for that job and its description. The Table also has column for experience, required education and several other factors are given for each job.

### **Cleaning Part 2: Data Preparation**

#### **2A: Data Summary**

Before beginning to clean our datasets, lets take a look at how our data looks. You will be examining the datasets using the following:

*   Use .head() to examine the first 5 rows of each dataset
*   Use .shape() to examine the number of rows and columns in each dataset
*   Use an appropriate pandas function which displays a summary of the dataset, including the min,max etc.
*   Use an appropriate pandas function which displays a summary of the datatype for each column within the dataset.

**Question 2:** Perform the above mentioned functions on the dataset

*Answering Guidelines:* Store your answers in the appropriate variables
* q2_head = stores the output of the first requirement listed above
* q2_shape = stores the output of the second requirement listed above
* q2_summary = stores the output of the third requirement listed above
* q2_datatype = stores the output of the fourth requirement listed above

<!--
BEGIN QUESTION
name: q3
points: 4
-->

In [434]:
q2_head = fake_jobs.head()
q2_shape = fake_jobs.shape
q2_summary = fake_jobs.describe()
q2_datatype = type(fake_jobs)

In [435]:
grader.check("q2")

q2 results: All test cases passed!

#### Missing values

<!-- BEGIN QUESTION -->

**Question 3:** Count the number of rows which have missing values and store it in the variable count. You can take help from this [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html) to see how to work with missing data in pandas.


*Answering Guidelines:* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.

<!--
BEGIN QUESTION
name: q1
points: 3
manual: true
-->

In [436]:
fj = fake_jobs.copy()

counts = 0
for i in range(len(fj.index)) :
    a = fj.iloc[i].isnull().sum()
    if a > 0:
        counts = counts + 1
print(counts)
count = counts

17106

In [437]:
grader.check("q3")

q3 results:
    q3 - 1 result:
        Trying:
            assert count == 12
        Expecting nothing
        **********************************************************************
        Line 1, in q3 0
        Failed example:
            assert count == 12
        Exception raised:
            Traceback (most recent call last):
              File "D:\Anaconda\lib\doctest.py", line 1336, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q3 0[0]>", line 1, in <module>
                assert count == 12
            AssertionError

<!-- BEGIN QUESTION -->

**Question 4:**  
* Identify which column contains the most missing values. Write the column names with most number of missing values in the variable **column_q4**. 
* Remove any row with contains missing values from the dataframe **fake_jobs**.
* After removing write a code which verifies that your dataframe **fake_jobs** doesnot contains any missing values.

*Answering Guidelines:*
* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.
* Show all steps. Properly comment each step in this part. If you just write the final answer you will get *no marks*. 
* Test case will be case sensitive so make sure that you write the spellings of the column that is in written in the dataframe.


<!--
BEGIN QUESTION
name: q4
points: 6
manual: false
-->

In [438]:
columnn = fj.isnull().sum().idxmax()# gives us sum of null values from which idxmax gives us the name of column containing maximum values
fake_jobs = fake_jobs.dropna()# used to drop null values from data
verify = fake_jobs.isnull().sum()# proves that all null values have been dropped from the dataframe
# print(verify)
column_q4= columnn

In [439]:
grader.check("q4")

q4 results: All test cases passed!

<!-- BEGIN QUESTION -->

**Question 5** How many rows are left in the dataset **fake_jobs** after all missing_values has been removed. Store the result in the variables **q5_rows**.

*Answering Guidelines:*
* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.
* Show all step(s). If you just write the final answer you will get *no marks*. 

<!--
BEGIN QUESTION
name: q5
points: 2
manual: false
-->

In [440]:
rows = len(fake_jobs) #to find number of rows in the dataframe without any missing values
q5_rows = rows

In [441]:
grader.check("q5")

q5 results: All test cases passed!

<!-- BEGIN QUESTION -->
**Question 6** There is a column name **Unnamed: 0**  was added to the dataset by mistake. Remove that column from the dataframe **fake_jobs**.

*Answering Guidelines:*
* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.
* Show all step(s).

<!--
BEGIN QUESTION
name: q5
points: 3
-->

In [442]:
...
fake_jobs = fake_jobs.drop('Unnamed: 0', axis=1)#inplace is used to remove from original dataframe and axis=1 represents column which has to be dropped

In [443]:
grader.check("q6")

q6 results: All test cases passed!

<!-- BEGIN QUESTION -->
**Question 7** In the column name **telecommutingg** replace 0s with No and 1s with Yes. Follow the same steps for the following columns :

* **hAs_company_logo**
* **has_questions**
* **fraudul....ent**

*Answering Guidelines:*
* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.
* Show all step(s). Do proper commenting

<!--
BEGIN QUESTION
name: q7
points: 5
manual: True
-->

In [444]:

fake_jobs.loc[:,'telecommutingg'].replace({0:"No", 1:"Yes"}, inplace=True)# replace is used on specific columns and integer value is changed to a string value
fake_jobs.loc[:,'hAs_company_logo'].replace({0:"No", 1:"Yes"}, inplace=True)
fake_jobs.loc[:,'has_questions'].replace({0:"No", 1:"Yes"}, inplace=True)
fake_jobs.loc[:,'fraudul....ent'].replace({0:"No", 1:"Yes"}, inplace=True)
# fake_jobs

In [445]:
grader.check("q7")

q7 results: All test cases passed!

<!-- BEGIN QUESTION -->
**Question 8** The column name **department!!!** has 2 exclamation marks at end of each entry. Your head TA Hareem didn't like it at all. Now you have to remove the exclamation marks from the column values of the **department!!!** . Store the modified data back in to the column and the change should be visible in **fake_jobs** variable.

*Answering Guidelines:*
* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.
* Show all step(s).
* No automatic testing for this part

<!--
BEGIN QUESTION
name: q8
points: 4
manual: false
-->

In [446]:
...
fake_jobs.loc[:,'department!!!'] = fake_jobs['department!!!'].str.replace('!', '')

# fake_jobs

#### Extracting features of complex values

<!-- BEGIN QUESTION -->
**Question 9**
The variable location stores information of a location of a person in the following format (city, state, country). If any row doesn't follow this pattern drop that row from dataframe.
* In this question, you will be extracting information from the column **location** . 
* You will make 3 new columns **city**, **state** and ***country*** and store the information of employees in it which you have extracted from the column locations. 
* After you have successfully made 3 columns and store the relevant information in it, delete the column **locations**.

*Answering Guidelines:*
* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.
* Show all steps.Properly comment each step in this part. 
* Please read the question very carefully and follow every guideline to rename the column

<!--
BEGIN QUESTION
name: q5
points: 10
manual: false
-->

In [447]:
fake_jobs.drop(fake_jobs[fake_jobs['location'].str.count(',') != 2].index, inplace=True)
fake_jobs.reset_index(inplace=True)

series = fake_jobs['location'].str.split(',', 2)
fake_jobs['city'] = 'd'
fake_jobs['state'] = 'd'
fake_jobs['country'] = 'd'
lis = series

for i in range(len(lis)):
    fake_jobs['city'][i] = lis[i][0]
    fake_jobs['state'][i] = lis[i][1]
    fake_jobs['country'][i] = lis[i][2]

fake_jobs.drop(['location'], inplace=True, axis=1)
fake_jobs.drop('index', inplace = True, axis='columns')
fake_jobs

<ipython-input-447-c0534707d3fc>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_jobs['city'][i] = lis[i][0]
<ipython-input-447-c0534707d3fc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_jobs['state'][i] = lis[i][1]
<ipython-input-447-c0534707d3fc>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_jobs['country'][i] = lis[i][2]

,job_id,title,department!!!,salary_range,coMpany_profile,descriPtion,requIrements,benefits,telecommutingg,hAs_company_logo,has_questions,employment_type,required_experience,required_educatioN,industry,function,fraudul....ent,city,state,country
0,7,Head of Content (m/f),ANDROIDPIT,20000-28000,"Founded in 2009, the Fonpit AG rose with its i...",Your Responsibilities: Manage the English-spea...,Your Know-How: ...,Your Benefits: Being part of a fast-growing co...,No,Yes,Yes,Full-time,Mid-Senior level,Master's Degree,Online Media,Management,No,DE,BE,Berlin
1,16,VP of Sales - Vault Dragon,Sales,120000-150000,Jungle Ventures is the leading Singapore based...,About Vault Dragon Vault Dragon is Dropbox for...,Key Superpowers3-5 years of high-pressure sale...,"Basic: SGD 120,000Equity negotiable for a rock...",No,Yes,Yes,Full-time,Executive,Bachelor's Degree,Facilities Services,Sales,No,SG,01,Singapore
2,24,"Vice President, Sales and Sponsorship (Busines...",Businessfriend.com,100000-120000,"WDM Group is an innovative, forward thinking d...",#URL_eda2500ddcedb60957fcd7f5b164e092966f8c4e8...,"Job Requirements:A reputation as a ""go-getter""...",Businessfriend will offer a competitive six fi...,No,Yes,No,Full-time,Executive,Unspecified,Internet,Sales,No,US,CA,Carlsbad
3,103,Marketing Administrator,Marketplace,15000-18000,Renewable Energy and Environmental Protection ...,The job is to support the growth of the #URL_9...,"Computer literateAble to work with HTML, altho...",For a suitably motivated and success orientate...,Yes,Yes,No,Full-time,Entry level,Bachelor's Degree,Internet,Marketing,No,GB,WAR,Coventry
4,135,Senior Business Development Manager,Sales and Business Development,70000-90000,MarketInvoice is one of the most high-profile ...,BACKGROUNDA senior sales and account managemen...,5-10 years sales experience in B2B solution sa...,Based in our Manchester officeCompetitive basi...,No,Yes,No,Full-time,Mid-Senior level,Bachelor's Degree,Financial Services,Sales,No,GB,,Manchester
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,17735,Customer Service Representative,Customer Service,30000-50000,Gary Cartwright established Cartwright Propert...,We are Seeking a candidate whose core values i...,Home Computer with Internet AccessBasic Comput...,"Weekly pay, PTO, Paid Holidays, 401 k",Yes,Yes,No,Full-time,Entry level,High School or equivalent,Real Estate,Customer Service,Yes,US,TX,Houston
749,17760,Customer Service Representative,Customer Service,30000-50000,Gary Cartwright established Cartwright Propert...,We are Seeking a candidate whose core values i...,Home Computer with Internet AccessBasic Comput...,"Weekly pay, PTO, Paid Holidays, 401 k",Yes,Yes,No,Full-time,Entry level,High School or equivalent,Real Estate,Customer Service,Yes,US,NY,New York
750,17814,Customer Service Representative,Customer Service,30000-50000,Gary Cartwright established Cartwright Propert...,We are Seeking a candidate whose core values i...,Home Computer with Internet AccessBasic Comput...,"Weekly pay, PTO, Paid Holidays, 401 k",Yes,Yes,No,Full-time,Entry level,High School or equivalent,Real Estate,Customer Service,Yes,US,PA,Philadelphia
751,17850,Communication Designer,Design,80000-100000,Balanced Labs exists to provide accountants an...,Balanced Labs exists to improve the lives of a...,"Specifically, we’re looking for:5+ years of vi...","We offer great salaries, share options, and a ...",No,Yes,No,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Design,No,US,CA,San Francisco
752,17866,Portfolio Development Associate - Paris & rest...,Sales,18000-20000,We're hiring!AvenueStory is a concept driven b...,"AvenueStory is looking for a curious, ambitiou...","Comfortable on the phone, fluent in French and...","Working within a small, young dynamic team in ...",No,Yes,Yes,Full-time,Entry level,Bachelor's Degree,Real Estate,Sales,No,GB,LND,London

In [448]:
grader.check("q9")

q9 results: All test cases passed!

##### **Renaming Columns**

<!-- BEGIN QUESTION -->

**Question 10:**  
Its a good practice to have short, uniform, and representative column names when you are working with datasets.

Rename the columns to the following names in such a way that
* only first letter of all columns names are in capital and rest are written in small letters. 
* There should no punctuation marks in the column names. 
* None of the column name should be mispelled.

*Answering Guidelines:*
* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.
* Show all steps.  If you just write the final answer you will get *no marks*. 
* Please read the question very carefully and follow every guideline to rename the column
* No automatic testing for this part. 

<!--
BEGIN QUESTION
name: q5
points: 4
manual: true
-->

In [449]:
fake_jobs = fake_jobs.rename(columns={"job_id":"Job_id"})
fake_jobs = fake_jobs.rename(columns={"title":"Title"})
fake_jobs = fake_jobs.rename(columns={"location":"Location"})
fake_jobs = fake_jobs.rename(columns={"department!!!":"Department"})
fake_jobs = fake_jobs.rename(columns={"salary_range":"Salary_range"})
fake_jobs = fake_jobs.rename(columns={"coMpany_profile":"Company_profile"})
fake_jobs = fake_jobs.rename(columns={"descriPtion":"Description"})
fake_jobs = fake_jobs.rename(columns={"requIrements":"Requirements"})
fake_jobs = fake_jobs.rename(columns={"benefits":"Benefits"})
fake_jobs = fake_jobs.rename(columns={"telecommutingg":"Telecommuting"})
fake_jobs = fake_jobs.rename(columns={"hAs_company_logo":"Has_company_logo"})
fake_jobs = fake_jobs.rename(columns={"has_questions":"Has_questions"})
fake_jobs = fake_jobs.rename(columns={"employment_type":"Employment_type"})
fake_jobs = fake_jobs.rename(columns={"required_experience":"Required_experience"})
fake_jobs = fake_jobs.rename(columns={"required_educatioN":"Required_education"})
fake_jobs = fake_jobs.rename(columns={"industry":"Industry"})
fake_jobs = fake_jobs.rename(columns={"function":"Function"})
fake_jobs = fake_jobs.rename(columns={"fraudul....ent":"Fraudulent"})
fake_jobs

,Job_id,Title,Department,Salary_range,Company_profile,Description,Requirements,Benefits,Telecommuting,Has_company_logo,Has_questions,Employment_type,Required_experience,Required_education,Industry,Function,Fraudulent,city,state,country
0,7,Head of Content (m/f),ANDROIDPIT,20000-28000,"Founded in 2009, the Fonpit AG rose with its i...",Your Responsibilities: Manage the English-spea...,Your Know-How: ...,Your Benefits: Being part of a fast-growing co...,No,Yes,Yes,Full-time,Mid-Senior level,Master's Degree,Online Media,Management,No,DE,BE,Berlin
1,16,VP of Sales - Vault Dragon,Sales,120000-150000,Jungle Ventures is the leading Singapore based...,About Vault Dragon Vault Dragon is Dropbox for...,Key Superpowers3-5 years of high-pressure sale...,"Basic: SGD 120,000Equity negotiable for a rock...",No,Yes,Yes,Full-time,Executive,Bachelor's Degree,Facilities Services,Sales,No,SG,01,Singapore
2,24,"Vice President, Sales and Sponsorship (Busines...",Businessfriend.com,100000-120000,"WDM Group is an innovative, forward thinking d...",#URL_eda2500ddcedb60957fcd7f5b164e092966f8c4e8...,"Job Requirements:A reputation as a ""go-getter""...",Businessfriend will offer a competitive six fi...,No,Yes,No,Full-time,Executive,Unspecified,Internet,Sales,No,US,CA,Carlsbad
3,103,Marketing Administrator,Marketplace,15000-18000,Renewable Energy and Environmental Protection ...,The job is to support the growth of the #URL_9...,"Computer literateAble to work with HTML, altho...",For a suitably motivated and success orientate...,Yes,Yes,No,Full-time,Entry level,Bachelor's Degree,Internet,Marketing,No,GB,WAR,Coventry
4,135,Senior Business Development Manager,Sales and Business Development,70000-90000,MarketInvoice is one of the most high-profile ...,BACKGROUNDA senior sales and account managemen...,5-10 years sales experience in B2B solution sa...,Based in our Manchester officeCompetitive basi...,No,Yes,No,Full-time,Mid-Senior level,Bachelor's Degree,Financial Services,Sales,No,GB,,Manchester
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,17735,Customer Service Representative,Customer Service,30000-50000,Gary Cartwright established Cartwright Propert...,We are Seeking a candidate whose core values i...,Home Computer with Internet AccessBasic Comput...,"Weekly pay, PTO, Paid Holidays, 401 k",Yes,Yes,No,Full-time,Entry level,High School or equivalent,Real Estate,Customer Service,Yes,US,TX,Houston
749,17760,Customer Service Representative,Customer Service,30000-50000,Gary Cartwright established Cartwright Propert...,We are Seeking a candidate whose core values i...,Home Computer with Internet AccessBasic Comput...,"Weekly pay, PTO, Paid Holidays, 401 k",Yes,Yes,No,Full-time,Entry level,High School or equivalent,Real Estate,Customer Service,Yes,US,NY,New York
750,17814,Customer Service Representative,Customer Service,30000-50000,Gary Cartwright established Cartwright Propert...,We are Seeking a candidate whose core values i...,Home Computer with Internet AccessBasic Comput...,"Weekly pay, PTO, Paid Holidays, 401 k",Yes,Yes,No,Full-time,Entry level,High School or equivalent,Real Estate,Customer Service,Yes,US,PA,Philadelphia
751,17850,Communication Designer,Design,80000-100000,Balanced Labs exists to provide accountants an...,Balanced Labs exists to improve the lives of a...,"Specifically, we’re looking for:5+ years of vi...","We offer great salaries, share options, and a ...",No,Yes,No,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Design,No,US,CA,San Francisco
752,17866,Portfolio Development Associate - Paris & rest...,Sales,18000-20000,We're hiring!AvenueStory is a concept driven b...,"AvenueStory is looking for a curious, ambitiou...","Comfortable on the phone, fluent in French and...","Working within a small, young dynamic team in ...",No,Yes,Yes,Full-time,Entry level,Bachelor's Degree,Real Estate,Sales,No,GB,LND,London

### Insights

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 11 :** What other meaningful insights could you have extracted from this dataset apart from what you did in this assignment? Also, comment on the quality of data available and give suggestions on how the data could have been better.

*Answering Guidelines:* 
* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.

<!--
BEGIN QUESTION
name: q2
points: 6
manual: true
-->

In [450]:
# It would have been better if the jobs were separated on the basis of department or employment type. It would have been easier 
# to interpret if employment type had separate dataframes for example one for full-time and the other for half-time.
# To make it even better the data could be separated on the basis of country. Initially we have almost 18000 samples and when
# we clean our data and removes all those columns having atleast one null value. after that we are only left with 700 samples.
# we should not have deleted those rows which had a couple of null values as we can assign them some values on our own and it
# may not affect our results at the end.

### Well done !! 

You are half way through the assignment. Grab a coffee/chai and take some rest before beginning the next part.

In [451]:
grader.check_all()
# if your test 6 fails over here and not on the top then don't worry!

q2 results: All test cases passed!

q3 results:
    q3 - 1 result:
        Trying:
            assert count == 12
        Expecting nothing
        **********************************************************************
        Line 1, in q3 0
        Failed example:
            assert count == 12
        Exception raised:
            Traceback (most recent call last):
              File "D:\Anaconda\lib\doctest.py", line 1336, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q3 0[0]>", line 1, in <module>
                assert count == 12
            AssertionError

q4 results: All test cases passed!

q5 results: All test cases passed!

q6 results:
    q6 - 1 result:
        Trying:
            assert fake_jobs.shape[1] == 18
        Expecting nothing
        **********************************************************************
        Line 1, in q6 0
        Failed example:
            assert fake_jobs.shape[1] == 18
        Exception raised:
            Traceback (most recent call last):
              File "D:\Anaconda\lib\doctest.py", line 1336, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q6 0[0]>", line 1, in <module>
                assert fake_jobs.shape[1] == 18
            AssertionError

q7 results:
    q7 - 1 result:
        Trying:
            assert fake_jobs[fake_jobs["telecommutingg"] == "Yes"].shape[0] == 73
        Expecting nothing
        **********************************************************************
        Line 1, in q7 0
        Failed example:
            assert fake_jobs[fake_jobs["telecommutingg"] == "Yes"].shape[0] == 73
        Exception raised:
            Traceback (most recent call last):
              File "D:\Anaconda\lib\site-packages\pandas\core\indexes\base.py", line 3080, in get_loc
                return self._engine.get_loc(casted_key)
              File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
              File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
              File "pandas\_libs\hashtable_class_helper.pxi", line 4554, in pandas._libs.hashtable.PyObjectHashTable.get_item
              File "pandas\_libs\hashtable_class_helper.pxi", line 4562, in pandas._libs.hashtable.PyObjectHashTable.get_item
            KeyError: 'telecommutingg'

            The above exception was the direct cause of the following exception:

            Traceback (most recent call last):
              File "D:\Anaconda\lib\doctest.py", line 1336, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q7 0[0]>", line 1, in <module>
                assert fake_jobs[fake_jobs["telecommutingg"] == "Yes"].shape[0] == 73
              File "D:\Anaconda\lib\site-packages\pandas\core\frame.py", line 3024, in __getitem__
                indexer = self.columns.get_loc(key)
              File "D:\Anaconda\lib\site-packages\pandas\core\indexes\base.py", line 3082, in get_loc
                raise KeyError(key) from err
            KeyError: 'telecommutingg'

q9 results: All test cases passed!